/* 
	__PROJECT_NAME__ CSS declarations - IE6-Specific CSS styles 
*/


/* [=] Global Elements
------------------------------------------------ */


/* [=] Header Elements
------------------------------------------------ */


/* [=] Footer Elements
------------------------------------------------ */
